{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Given Name"
            },
            value: {
              text: data['given-name']
            },
            actions: {
              items: [
                {
                  href: "/personal-details",
                  text: "Change",
                  visuallyHiddenText: "Given Name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Surname"
            },
            value: {
              text: data['sur-name']
            },
            actions: {
              items: [
                {
                  href: "/personal-details",
                  text: "Change",
                  visuallyHiddenText: "Surname"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of Birth"
            },
            value: {
              text: data['date-of-birth-day'] + "/" + data['date-of-birth-month'] + "/" + data['date-of-birth-year']
            },
            actions: {
              items: [
                {
                  href: "/personal-details",
                  text: "Change",
                  visuallyHiddenText: "Date of Birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Driving licence"
            },
            value: {
              text: data['file-driving-licence']
            },
            actions: {
              items: [
                {
                  href: "/driving-license",
                  text: "Change",
                  visuallyHiddenText: "driving licence"
                }
              ]
            }
          },
          {
            key: {
              text: "Evidence of Compliance"
            },
            value: {
              text: data['file-compliance']
            },
            actions: {
              items: [
                {
                  href: "/file-compliance",
                  text: "Change",
                  visuallyHiddenText: "Evidence of Compliance"
                }
              ]
            }
          },
          {
            key: {
              text: "Evidence of Registration"
            },
            value: {
              text: data['file-registration']
            },
            actions: {
              items: [
                {
                  href: "/file-registration",
                  text: "Change",
                  visuallyHiddenText: "Evidence of Registration"
                }
              ]
            }
          },
          {
            key: {
              text: "Evidence of Tax"
            },
            value: {
              text: data['file-vehicle-tax']
            },
            actions: {
              items: [
                {
                  href: "/file-vehicle-tax",
                  text: "Change",
                  visuallyHiddenText: "Evidence of Tax"
                }
              ]
            }
          },
          {
            key: {
              text: "Evidence of MOT"
            },
            value: {
              text: data['file-mot']
            },
            actions: {
              items: [
                {
                  href: "/file-mot",
                  text: "Change",
                  visuallyHiddenText: "Evidence of MOT"
                }
              ]
            }
          },
          {
            key: {
              text: "Evidence of Insurance"
            },
            value: {
              text: data['file-insurance']
            },
            actions: {
              items: [
                {
                  href: "/file-insurance",
                  text: "Change",
                  visuallyHiddenText: "Evidence of Insurance"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
