{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p> 
      As per the new legislation regarding e-scooters, you are required to register any E-Scooters with the <strong> DVLA </strong>.
    </p>
      
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        You are required by law to register your E-Scooter
      </strong>
    </div>

    <p>
      This service is avalible from 7am to 7pm
    </p>

    <p> 
      Before you start, please ensure you have your drivers license, in date vehcle tax and MOT certificate readily avalible   
    </p>


    {{ govukButton({
      text: "Register E-Scooter",
      href: "/start",
      isStartButton: true
    }) }}


  </div>
</div>

{% endblock %}
